body {
    background: gray;
    color: white;
}

.app {
    padding: 2rem;
    background: rgb(0, 0, 128);
    max-width: 70rem;
    margin: 0 auto;
}

.form-group {
    &--column {
        display: flex;
        flex-direction: column;
    }

    input {
        max-width: 30rem;
    }
    padding-bottom: 0.5rem;
}